AWS_ACCESS_KEY_ID="AWS IAM USER ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="AWS IAM USER SECRET_ACCESS_KEY"
AWS_STORAGE_BUCKET_NAME="AWS s3 BUCKET NAME"
CLOUDFRONT_DISTRIBUTION_DOMAIN_NAME="CLOUDFRONT_DISTRIBUTION_DOMAIN_NAME without https://"
